.banner-1-wrapper{
    overflow: hidden;
    margin-bottom: 20px;
}
.banner-1-wrapper img{
    transition: 0.5s ease;
    height: 100%;
    width: 100%;
}
.banner-1-wrapper img:hover{
    transform: scale(1.15) rotate(4deg);
    
}