.cat-text p{
    font-size: 14px;
}
.category-wrapper{
    transition: 0.5s ease;
}
.category-wrapper:hover{
    box-shadow: 1px 1px 10px 1px #ccc;
    z-index: 1;
}
@media screen and (max-width:992px){
    .category-wrapper p{
        font-size: 15px;
    }
}