.news-wrapper{
    box-shadow: 0px 0px 10px 1px rgb(139, 139, 139);
    transform: translateY(-45px);
}
.np-1 h6 {
  font-size: 17px;
}
.np-1 p,
.np-2 p {
  font-size: 14px;
}
.np-2 p {
  line-height: 25px;
}
.np-3 .input-group input {
  font-size: 16px;
  border-radius: 0 !important;
  outline: 0 !important;
}
.np-3 .input-group input::placeholder {
  font-size: 14px;
}
.np-3 .input-group input:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.np-3 button {
  font-size: 14px;
  border-radius: 0 !important;
}
.np-3 button:focus {
  box-shadow: none !important;
}
.main-footer-wrapper h5 {
  border-bottom: 2px solid #b6a8a8;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 5px;
  color: #3b3a3a;
}
.main-footer-wrapper .custom-nav-1 .nav-item .nav-link {
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
  color: #433f3f;
  display: inline-block;
  transition: 0.5s ease;
}
.main-footer-wrapper .custom-nav-1 .nav-item .nav-link:hover{
    margin-right: 8px;
    color: #afaeae;
}
.main-footer-wrapper .support-icon{
    font-size: 35px;
    color: rgb(116, 107, 156);;
}
.main-footer-wrapper .support-text{
    font-size: 13px;
    color: #433f3f;
}
.main-footer-wrapper .support-text a{
    color: #433f3f;
}
.main-footer-wrapper .custom-nav-2 .nav-item a i{
  font-size: 20px;
}
.main-footer-wrapper .custom-nav-2 .nav-item a{
  transition: 0.5s ease;
}
.main-footer-wrapper .custom-nav-2 .nav-item:first-child a{
  padding-right: 0;
  color: rgb(98, 128, 228);
}
.main-footer-wrapper .custom-nav-2 .nav-item:nth-child(2) a{
  color: rgb(238, 86, 59);
}
.main-footer-wrapper .custom-nav-2 .nav-item:nth-child(4) a{
  color: rgb(223, 143, 68);
}
.main-footer-wrapper .custom-nav-2 .nav-item:nth-child(3) a{
color: #0056b3;
}
.main-footer-wrapper .custom-nav-2 .nav-item:nth-child(5) a{
  color: rgb(103, 143, 253);
}
.main-footer-wrapper .custom-nav-2 .nav-item a:hover{
  transform: scale(1.2);
}
.main-footer-wrapper .address{
  color: #433f3f;
  font-size: 14px;
}
.main-footer-wrapper .custom-nav-2 .nav-link{
  padding: 10px 8px;
}
.copy-right p{
  font-size: 14px;
  color: #433f3f;
}