.login-form input[type=email]::placeholder,.login-form input[type=password]::placeholder{
font-size: 12px;
}
.login-form label{
    font-size: 14px;
}
.login-form input{
    outline: 0 !important;
}
.login-form .modal-footer a{
    font-size: 14px;
}