.ps-img{
    max-width: 150px;
}
.ps-title,.ps-price-inner s{
    font-size: 13px;
}
.ps-price-inner s{
    color: red;
}
.ps-price-number{
    font-size: 13px;
}
.ps-link{
    color: rgb(58, 58, 58);
}
.ps-card{
    border-radius: 0;
    border-top: none;
    border-bottom: none;
}
.pslider-title{
    top: -45px;
    right: 15px!important;
}