.custom-breadcrumb {
  background-color: white;
  margin-bottom: 0;
}
.product-page-title {
  font-size: 28px;
}
.product-page-title i {
  font-size: 20px;
  padding: 3px;
  cursor: pointer;
  transition: 0.5s ease;
}
.product-page-title i:hover{
  transform: scale(1.1);
}
.product-page-title i:nth-child(1){
   color: #59b959;
}
.product-page-title i:nth-child(2){
  color: #fa3232;
}
.product-page-title i:nth-child(3){
  color: #7d9cdb;
}
.product-rating {
  color: rgb(250, 225, 84);
}
.product-price s {
  color: red;
}
.product-describe p {
  font-size: 14px;
  line-height: 35px;
}
.product-cat{
  font-size: 14px;
}
.product-details h5{
  font-size: 16px;
}
.product-details a{
      font-size: 13px;
    color: #868686;
    display: inline-block;
}
.product-details a i{
  margin-left: 5px;
  vertical-align: -2px;
}
.add-to-basket select{
  border-radius: 0 !important;
  cursor: pointer;
}
.add-to-basket select option{
  cursor: pointer;
}
.add-to-basket select:focus{
  box-shadow: none !important;
}
.add-to-basket button:focus,.add-to-basket button:active{
box-shadow: none;
}
.custom-tab-pane-overview h5{
  padding: 15px 10px;
}
.progress-wrapper{
  padding: 10px;
  background-color: #fafafa;
}
.custom-tab-pane-overview .simple-overview p,.progress-wrapper p{
  font-size: 14px;
  background-color: #fafafa;
  line-height: 35px;
  word-spacing: 2px;
  padding: 10px;
}
.custom-tab-pane-overview .prefesional-overview p{
  padding: 10px;
    line-height: 31px;
    word-spacing: 2px;
}
.custom-nav-tabs-overview .nav-link.active{
  border-top: 2px solid red !important;
}
.custom-nav-tabs-overview .nav-link{
  border-bottom: 0 !important;
  border-radius: 0 !important;
}
.custom-tab-pane-overview .custom-overview-nav .nav-item{
  border-right: 2px solid rgb(175, 175, 175);
}
.custom-tab-pane-overview .custom-overview-nav .nav-item p{
  padding: 0 20px;

}
.custom-tab-pane-overview .custom-overview-nav .nav-item i{
  top: -8px;
  right: -11.5px;
  font-size: 20px;
  color: rgb(175, 175, 175);
}
.custom-tab-pane-overview .custom-overview-nav .nav-item div{
  margin: 0 auto;
}
.custom-tab-pane-details .details-wrapper p{
  padding: 7px;
  font-size: 16px;
  background-color: #fafafa;

}
.custom-tab-pane-details .details-wrapper i{
      margin-left: 5px;
    vertical-align: -1px;
    font-size: 12px;
}
.comment-title-wrapper h5{
  font-size: 17px;
}

.comment-title-wrapper p{
  font-size: 15px;
}
.comment-title-wrapper button{
  padding: 5px 30px;
  font-size: 16px;
}
.comment-title-wrapper i{
  font-size: 14px;
  vertical-align: -3px;
  margin-left: 5px;
}
.comment-details-wrapper h5{
  font-size: 17px;
}
.comment-details-wrapper p.positive-comment-title{
  font-size: 15px;
  color: green;
}
.comment-details-wrapper i{
  font-size: 10px;
  color: green;
  margin-left: 5px;
}
.comment-details-wrapper i.negative{
  color: red;
}
.comment-details-wrapper p.negative-comment-title{
  color: red;
}
.comment-details-wrapper span{
  font-size: 14px;
  padding: 5px 10px;
  background-color: #efefef;
  cursor: pointer;
}
.media .media-body h5{
  font-size: 17px;
}
.media .media-body div{
  font-size: 14px;
}
.media .media-body div i{
  margin-left: 5px;
}
.media .media-body .product-color,.media .media-body .product-suplier{
  font-size: 13px;
}
.add-comment textarea{
  outline: none;
  font-size: 14px;
  resize: none;
}
.add-comment button{
  padding: 5px 20px;
  font-size: 14px;
}
.add-comment h5{
  font-size: 16px;
  background-color: #efefef;
  padding: 15px;
}
.add-comment i{
  margin-left: 10px;
  color: blueviolet;
}
.add-comment input{
  font-size: 14px;
}