.shipping-wrapper p {
  font-size: 14px;
}
.shipping-wrapper img {
  width: 33px;
  height: 21px;
  margin-left: 12px;
}
@media screen and (max-width: 992px) {
  .shipping-wrapper img {
    float: none !important;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .shipping-wrapper {
    text-align: center;
  }
  .shipping-wrapper p {
    font-size: 16px;
  }
}
