@media screen and (min-width:992px){
.custom-col-md-3{
    max-width: 20.4%;
    flex-basis: 20.4%;
}
.custom-col-lg-6{
    max-width: 59.2%;
    flex-basis: 59.2%;
}
}
@media screen and (max-width:576px){
    .mt-xs-2{
      margin-top: 16px;
    }
}