.custom-so-nav-tabs .nav-item .nav-link {
  border: none;
  font-size: 14px;
  color: #000;
}
.custom-so-nav-tabs {
  border: none;
}
.custom-so-nav-tabs .nav-link.active,
.custom-so-nav-tabs .nav-item.show .nav-link {
  background-color: transparent;
  border: none;
  color: red;
}
.tab-pane-image img {
  width: 250px;
}
.tab-pane-text div a {
  color: rgb(116, 107, 156);
}
.tab-pane-text div i {
  color: #ebeb23;
}
.tab-pane-text div s {
  color: #fd4141;
  font-size: 14px;
  padding-left: 15px;
}
.tab-pane-text div span {
  font-size: 14px;
  color: #3a3a3a;
}
.tab-pane-text .contdown-timer p {
  font-size: 13px;
}
.tab-pane-text .contdown-timer .demos span {
  padding: 5px;
  background-color: rgba(116, 107, 156, 0.7);
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  text-align: center;
  margin-right: 7px;
  color: #efefef;
  font-size: 12px;
  position: relative;
}
.tab-pane-text .contdown-timer .demos span#hours::after {
  content: "ساعت";
  position: absolute;
  bottom: -20px;
  left: -2px;
  color: #3a3a3a;
  font-size: 12px;
}
.tab-pane-text .contdown-timer .demos span#day::after {
  content: "روز";
  position: absolute;
  bottom: -20px;
  left: 7px;
  color: #3a3a3a;
  font-size: 12px;
}
.tab-pane-text .contdown-timer .demos span#minutes::after {
  content: "دقیقه";
  position: absolute;
  bottom: -20px;
  left: 2px;
  color: #3a3a3a;
  font-size: 12px;
}
.tab-pane-text .contdown-timer .demos span#seconds::after {
  content: "ثانیه";
  position: absolute;
  bottom: -20px;
  left: 5px;
  color: #3a3a3a;
  font-size: 12px;
}
.after-expire {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.tab-pane-image{
  overflow: hidden;
  height: 250px;
}
.tab-pane-image .images{
  transition: 0.5s ease;
}
.tab-pane-image:hover .images{
  transform: translateY(-250px);
}
.tab-pane-text{
  flex-basis: 80%;
  max-width: 80%;
  margin: 15px;
}
@media screen and (max-width:768px){
  .tab-pane-image img {
  width: 260px;
}
.tab-pane-image{
  height: 260px;
  margin-top: 25px;
  overflow: hidden;
}
.tab-pane-image:hover .images{
  transform: translateY(-260px);
  overflow: hidden;
}
}
.tab-pane-text s{
  padding: 0 !important;
  padding-bottom: 8px !important;
}
@media screen and (min-width:576px) and (max-width:768px){
  .tab-pane-image{
  margin-top: 10px;
}
}
.offer-expire-text-inner{
  font-size: 14px;
}
