.bg-top-nav {
  background-color: rgb(116, 107, 156);
}
.top-nav-text-size {
  font-size: 14px;
}
.top-nav-text-size a {
  padding: 5px 10px;
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;
}
.top-nav-text-size a:hover{
  color:  rgb(255, 213, 28) !important;
}
/* .top-nav-text-size a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(192, 192, 192);
  left: 100%;
  bottom: 0;
  transition: 0.5s ease;
}
.top-nav-text-size a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(192, 192, 192);
  right: 100%;
  bottom: 0;
  transition: 0.5s ease;
}
.top-nav-text-size a:hover::after{
left: 50%;
}
.top-nav-text-size a:hover::before{
right: 50%;
} */
.top-nav-dropdown-toggle-coustom {
  background-color: rgb(95, 61, 122);
}
.top-nav-dropdown-toggle-coustom:hover {
  background-color: rgb(165, 87, 224);
}
.top-nav-dropdown-toggle-coustom:focus {
  box-shadow: none !important;
  background-color: rgb(165, 87, 224) !important;
}
.top-nav-dropdown-toggle-coustom::after {
  vertical-align: 1px;
}
.top-nav-form-control::placeholder {
  font-size: 14px;
}
.top-nav-form-control:focus {
  box-shadow: none !important;
  outline: 0;
}
.top-nav-search-btn:focus {
  box-shadow: none !important;
}
.top-nav-shop-menu img {
  width: 65px;
  height: 65px;
}
.top-nav-shop-menu a {
  padding: 10px;
}
.top-nav-shop-menu {
  width: 300px;
}
.btn-shop{
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 8px 10px !important;
  font-size: 14px;
}
.btn-shop:focus {
  box-shadow: none;
}
.btn-shop i {
  vertical-align: -2px;
}
.btn-shop::after {
  vertical-align: 0;
}
.custom-navbar {
  font-size: 15px;
}

.custom-nav {
  width: 100%;
  position: relative;
}
.custom-navbar-nav {
  padding-right: 10px;
}
.custom-navbar-nav .nav-item {
  position: unset;
}
.custom-backet-dropdown-menu {
  min-width: 18.5rem !important;
}
.custom-navbar-nav .dropdown-menu {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0px;
  background-color: rgb(190, 172, 199);
}
.custom-dropdown-list-menu {
  margin: 0;
}
.custom-navbar-nav .dropdown-menu img {
  top: 15px;
  left: 0;
  bottom: 0;
}
.custom-navbar-nav .dropdown-menu ul li a {
  transition: 0.5s ease;
}
.custom-navbar-nav .dropdown-menu ul li a:hover {
  margin-right: 10px;
}
.custom-inner-top-nav li a {
  color: rgb(75, 75, 75) !important;
}
.custom-inner-top-nav li a:hover {
  color: black !important;
}
.custom-inner-top-nav li a i {
  margin-left: 5px;
  font-size: 12px;
  vertical-align: -1px;
}
.custom-dropdown-toggle {
  transition: 0.5s ease;
}
.custom-dropdown-toggle::after {
  vertical-align: 1px;
}
.custom-dropdown-toggle:hover {
  transform: translateY(-5px);
  color: rgb(255, 213, 28) !important;
}
#vip-item {
  color: rgb(255, 213, 28) !important;
  padding: 8px;
}
#vip-item:hover {
  color: rgb(255, 255, 255) !important;
}
#login-btn{
  left: 20px;
}
#login-btn i{
  margin-left: 5px;
  vertical-align: -1px;
}
#login-btn:hover,#login-btn:focus {
  color: rgb(255, 255, 255) !important;
}