@import url('/assets/css/_top-nav.css');
@import url('/assets/css/_slider.css');
@import url('/assets/css/_shipping.css');
@import url('/assets/css/_ads.css');
@import url('/assets/css/_category.css');
@import url('/assets/css/_special-offers.css');
@import url('/assets/css/_products-slider.css');
@import url('/assets/css/_banners.css');
@import url('/assets/css/_footer.css');
@import url('/assets/css/_login-form.css');
@import url('/assets/css/_product-page.css');

@font-face{
    font-family: Sahel;
    src: url("/assets/fonts/Sahel.eot") format("eot");
    src: url("/assets/fonts/Sahel.woff") format("woff");
    src: url("/assets/fonts/Sahel.woff2") format("woff2");
}
*{
    font-family: Sahel;
}
p{
    margin: 0;
}
ul {
  margin: 0;
}
.main-container-fluid{
    background-color: #efefef;
}
.custom-container{
    max-width: 1240px;
}
.owl-carousel .owl-nav{
    text-align: center;
    position: absolute;
    top: 126px;
    width: 100%;
}
.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{
    position: absolute;
    width: 30px;
    background-color: white!important;
    box-shadow: 0px 0px 7px 1px #b7b0b0;
}
.owl-carousel .owl-nav .owl-next{
    left: -4px;
}
.owl-carousel .owl-nav .owl-prev{
    right: -4px;
}
.owl-carousel .owl-nav .owl-next span,.owl-carousel .owl-nav .owl-prev span{
    display: block;
    font-size: 40px;
}
.owl-carousel .owl-dots{
    background-color: white;
    display: none;
}
.slider-title{
  right: 0;
  padding-bottom: 8px;
  border-bottom: 2px dotted red;
  font-size: 18px;
  font-weight: bold;
}
.owl-theme .owl-nav [class*='owl-']:hover{
    background: #869791!important;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.zoom-mousemove{
    border: none !important;
}

